.container{
    background-color: green;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmF0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60);
    background-size:cover;
    background-position:center;
    margin: 10vh auto;
    width: 80vw;
    height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font:arial;
}

.quotes-container{
    /* border:2px solid blue; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis:55%;
}

.quotes{
    /* border: 2px solid red; */
    /* flex-basis:50%; */
    margin-left :30px;
    margin-right:30px;
    color:white;
    text-align:center;
    font-size:20px;
}
.author{
    /* border: 2px solid red; */
    /* flex-basis:8%; */
    margin-top:20px;
    color:aqua;
    text-align:center;
}